.toolbar {
    background: var(--primary-dark);
    margin: 0rem 0rem 1rem 0rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.3);
}

.name {
    color: var(--secondary-text);
    font-family: "Oswald";
    font-size: 4rem;
    margin: 0rem;
}

.offscreenApp {
    flex-wrap: nowrap;
    display: flex;
    width: 200%;

    animation-name: slideOut;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    will-change: transform;
}

.directOffscreenApp {
    composes: offscreenApp;
    animation-duration: 0s;
}

.onscreenApp {
    composes: offscreenApp;
    
    animation-name: slideIn;
    animation-duration: 1s;
}

@keyframes slideOut {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-50%);
    }
}

@keyframes slideIn {
    0% {
        transform: translateX(-50%);
    }

    100% {
        transform: translateX(0%);
    }
}