.toolbar {
    background: var(--primary-dark);
    height: 5rem;
    margin: 0rem 0rem 1rem 0rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.3);
}

.name {
    color: var(--secondary-text);
    font-family: "Oswald";
    font-size: 4rem;
    margin: 0rem;
}
